<ion-view title="{{navTitle}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true">
    <svg width="298" height="298" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <rect x="0" y="0" width="298" height="298" fill="white"/>
      <g stroke="black" fill="grey" stroke-width="2">
        <g class="column" ng-repeat="column in columns">
          <circle ng-repeat="target in column" ng-cx="target.x" ng-cy="target.y" ng-r="target.targetSize" ng-click="target.clickToggle(this)"/>
        </g>
      </g>
    </svg>
    <button ng-click="buttonClick()">play</button>
  </ion-content>
</ion-view>
