<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/audiow.js"></script>
  </head>
  <!-- 'gmajor' is the name of this angular module (js/app.js)-->
  <body ng-app="gmajor">

  <div ng-controller="MenuController">
      <ion-side-menus>

          <!-- Center content -->
          <ion-pane ion-side-menu-content>
              <ion-nav-bar type="bar-assertive" back-button-type="button-icon" back-button-icon="ion-arrow-left-c"></ion-nav-bar>

              <ion-nav-view>
              </ion-nav-view>
          </ion-pane>

          <!-- Left Side Menu -->
          <ion-side-menu side="left">
              <ion-header-bar class="bar bar-header bar-assertive">
                  <h1 class="title">Menu</h1>
              </ion-header-bar>
              <ion-content has-header="true">
                  <ion-list>
                      <ion-item ng-click="goTo(item.link)" class="item item-icon-left" ng-repeat="item in list" menu-close>
                          <i ng-class="item.iconClass"></i>
                          {{item.text}}
                      </ion-item>
                  </ion-list>
              </ion-content>
          </ion-side-menu>

      </ion-side-menus>
  </div>

<script>

var SoundProfile = {
  name: 'piano',
  attack: function() { return 0.002; },
  dampen: function(sampleRate, frequency, volume) {
    return Math.pow(0.5*Math.log((frequency*volume)/sampleRate),2);
  },
  wave: function(i, sampleRate, frequency, volume) {
    var base = Modules[0];
    return Modules[1](
      i,
      sampleRate,
      frequency,
      Math.pow(base(i, sampleRate, frequency, 0), 2) +
        (0.75 * base(i, sampleRate, frequency, 0.25)) +
        (0.1 * base(i, sampleRate, frequency, 0.5))
    );  
  }
};

// I have no idea what these do
Modules = [
  function(i, sampleRate, frequency, x) {
    return 1 * Math.sin(2 * Math.PI * ((i / sampleRate) * frequency) + x);
  },
  function(i, sampleRate, frequency, x) {
    return 1 * Math.sin(4 * Math.PI * ((i / sampleRate) * frequency) + x);
  },
  function(i, sampleRate, frequency, x) {
    return 1 * Math.sin(8 * Math.PI * ((i / sampleRate) * frequency) + x);
  },
  function(i, sampleRate, frequency, x) {
    return 1 * Math.sin(0.5 * Math.PI * ((i / sampleRate) * frequency) + x);
  },
  function(i, sampleRate, frequency, x) {
    return 1 * Math.sin(0.25 * Math.PI * ((i / sampleRate) * frequency) + x);
  },
  function(i, sampleRate, frequency, x) {
    return 0.5 * Math.sin(2 * Math.PI * ((i / sampleRate) * frequency) + x);
  },
  function(i, sampleRate, frequency, x) {
    return 0.5 * Math.sin(4 * Math.PI * ((i / sampleRate) * frequency) + x);
  },
  function(i, sampleRate, frequency, x) {
    return 0.5 * Math.sin(8 * Math.PI * ((i / sampleRate) * frequency) + x);
  },
  function(i, sampleRate, frequency, x) {
    return 0.5 * Math.sin(0.5 * Math.PI * ((i / sampleRate) * frequency) + x);
  },
  function(i, sampleRate, frequency, x) {
    return 0.5 * Math.sin(0.25 * Math.PI * ((i / sampleRate) * frequency) + x);
  }
];

// // too many params for an interative function
// // intsrument should have this as a method
// var playSounds = function(SoundProfile, Modules, frequency, volume, sampleRate, duration, start){
//   var attackLen = sampleRate * SoundProfile.attack();
//   var buffer = context.createBuffer(1, duration * sampleRate, sampleRate);
//   var data = buffer.getChannelData(0);

//   for (i = 0; i < data.length; i++){
//     if ( i < attackLen){
//       amplitude = volume * (i/(sampleRate * SoundProfile.attack()))
//     }else{
//       amplitude = volume * Math.pow((1-((i-(sampleRate*SoundProfile.attack()))/(sampleRate*(duration-SoundProfile.attack())))),SoundProfile.dampen(sampleRate, frequency, volume))
//     }
//     data[i] = amplitude * SoundProfile.wave(i, sampleRate, frequency, volume)
//   }

//   var osc = context.createBufferSource();
//   var gainNode = context.createGain();

//   // fancy word for volume
//   gainNode.gain.value = 1;

//   osc.buffer = buffer;
//   // turn off to call once // turn off the 's' from the function (see below)
//   osc.loop = true;
//   osc.connect(context.destination);

//   //play sound after start time
//   osc.noteOn(start);
// };

// var playOnce = function(SoundProfile, Modules, frequency, volume, sampleRate, duration, start){
//   var attackLen = sampleRate * SoundProfile.attack();
//   var buffer = context.createBuffer(1, duration * sampleRate, sampleRate);
//   var data = buffer.getChannelData(0);

//   for (i = 0; i < data.length; i++){
//     if ( i < attackLen){
//       amplitude = volume * (i/(sampleRate * SoundProfile.attack()))
//     }else{
//       amplitude = volume * Math.pow((1-((i-(sampleRate*SoundProfile.attack()))/(sampleRate*(duration-SoundProfile.attack())))),SoundProfile.dampen(sampleRate, frequency, volume))
//     }
//     data[i] = amplitude * SoundProfile.wave(i, sampleRate, frequency, volume)
//   }

//   var osc = context.createBufferSource();
//   var gainNode = context.createGain();
//   gainNode.gain.value = 1;
//   osc.buffer = buffer;
//   osc.loop = false;
//   osc.connect(context.destination);
//   osc.noteOn(start);

// };

playSounds(SoundProfile, Modules, 100, 1, 44100, 1, 0 );
// playSounds(SoundProfile, Modules, 200, 1, 44100, 1, startTime );
// playSounds(SoundProfile, Modules, 300, 1, 44100, 1, startTime + .2);
// playSounds(SoundProfile, Modules, 400, 1, 44100, 1, startTime + .3);
// playSounds(SoundProfile, Modules, 500, 1, 44100, 1, startTime + .4);
playSounds(SoundProfile, Modules, 600, 1, 44100, 1, 0 + .5);
// playSounds(SoundProfile, Modules, 700, 1, 44100, 1, startTime + .6);
// playSounds(SoundProfile, Modules, 800, 1, 44100, 1, startTime + .7);

// playSounds(SoundProfile, Modules, 100, 1, 44100, 1, startTime + .05);
// playSounds(SoundProfile, Modules, 200, 1, 44100, 1, startTime + .15);
// playSounds(SoundProfile, Modules, 300, 1, 44100, 1, startTime + .25);
// playSounds(SoundProfile, Modules, 400, 1, 44100, 1, startTime + .35);
// playSounds(SoundProfile, Modules, 500, 1, 44100, 1, startTime + .45);
// playSounds(SoundProfile, Modules, 600, 1, 44100, 1, startTime + .55);
// playSounds(SoundProfile, Modules, 700, 1, 44100, 1, startTime + .65);
// playSounds(SoundProfile, Modules, 800, 1, 44100, 1, startTime + .75);







</script>

  </body>
</html>
