/* Empty. Add your own CSS if you like */
.grid-col {
  width: 75px;
  float: left;
}

.mGrid {
  width: 100%;
}

 /* Rectangles are placed over the grid dots to be the actual
    touch targets. This allows them to recieve touches but
    not appear in the UI */
.targetInvisible {
  opacity: 0.0;
}

.colActive{
  fill: blue;
}

.users:not(:first-child){
	display:block;
}

.play-button.button {
  margin: 0;
}

canvas {
  width: 298;
  height: 220;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 150px;
}

.modal-backdrop.active,
.modal-backdrop.active .bar.bar-header {
  background: black;
  opacity: 0.75;
}

.chats-list {
  padding-bottom: 0;
}

.chats-time {
  font-style: italic;
  color: #999;
  text-align: right;
}

.index-logo {
  background: url("http://gmajr.github.io/images/gMajorLogo.png") no-repeat scroll center top;
  background-size: contain;
  height: 300px;
}

.log-in-page {
  background-color: #66CC33;
}

