/* Empty. Add your own CSS if you like */
.grid-col {
  width: 75px;
  float: left;
}

.mGrid {
  width: 100%;
}

 /* Rectangles are placed over the grid dots to be the actual
    touch targets. This allows them to recieve touches but
    not appear in the UI */
.targetInvisible {
  opacity: 0.0;
}

.colActive{
  fill: blue;
}

.users:not(:first-child){
	display:block;
}

.play-button.button {
  margin: 0;
}
